@import url("https://fonts.googleapis.com/css?family=Barlow+Condensed:400,700|Ubuntu+Condensed&display=swap");
/* @import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"); */

:root {
  --col-bg: #ccc;
  --col-on-bg: #333;
  --col-accent-1: #95ba5e;
  --col-on-accent-1: #eee;
  --col-accent-2: #fb9954;
  --col-on-accent-2: #eee;
  --col-accent-3: #e8f0db;
  --col-on-accent-3: #444;
  --col-transparency: rgba(219, 219, 219, 0.4738270308123249);
  --font-family-1: "Ubuntu Condensed", "Arial", sans-serif;
  --font-family-2: "Barlow Condensed", "Arial", sans-serif;
  --font-size: 1em;
  --font-bigger: 1.5em;
  --gdr-bg-old: rgb(35, 115, 60);
  --gdr-bg-active: linear-gradient(
    180deg,
    rgba(35, 115, 60, 0.9416141456582633) 0%,
    rgba(149, 186, 94, 1) 100%
  );
  --gdr-bg2-old: rgb(110, 191, 241);
  --gdr-bg2-active: linear-gradient(
    90deg,
    rgba(110, 191, 241, 1) 0%,
    rgba(126, 221, 157, 1) 100%
  );
  --max-width: 60em;
}

body {
  padding: 0em;
  font-size: 1em;
  line-height: 1.25em;
  /* background-color: lightgrey; */
  font-family: var(--font-family-2);
  /* margin: 1em; */
  
}

.auto-margin {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-width);
}

h1,h2,h3,h4,h5,h6,ul,ol,
li {
  font-family: var(--font-family-1);
  font-weight: normal;
  
}

h2 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

article {
  background-color: var(--col-accent-3);
  padding: 0.05em;
  /* margin-top: 1em; */
  margin-bottom: 1em;
  overflow: hidden;
}

.item:nth-child(2n) {
  /*alternates items*/
  color: aqua;
}

.button {
  background-color: var(--col-accent-2);
  /* border: solid; */
  color: var(--col-on-accent-2);
  padding: 0.5em 2em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  font-style: bold;
  border-radius: 0.5em;
}

.search-bar {
  background: var(--gdr-bg-old);
  background: var(--gdr-bg-active);
  padding: 1em;
  /* border-radius: 1em; */
  box-sizing: border-box;
  margin: 0.2em auto;
  transition: ease-in-out 1s;
}

.flex-search {
  display: flex;
  flex-direction: column;
  color: var(--col-on-accent-1);
  /* background-color: white ; */
  align-content: center;
}

.logo {
  width: 7.5em;
  margin: 0.25em 0.5em 0.5em 0.5em;
  clear: left;
}

.item:first-child {
  margin-top: 0;
}

.svg {
  max-width: 1.7em;
  display: block;
}

.grid-container {
  display: grid;
  grid-template-columns: auto;
  border-style: none;
  vertical-align: baseline;
  margin: 0 auto;
  background-color: var(--col-on-accent-1);
  grid-gap: 0rem;
}

.deals.grid-container {
  grid-template-columns: 1fr 1fr;
}

.boxes.grid-container {
  grid-template-columns: 1fr 1fr;
}

.flex-header-container {
  /* background: var(--gdr-bg2-old);
  background: var(--gdr-bg2-active); */
  display: flex;
  flex-direction: row;
  border-style: none;
  justify-content: space-between;
  vertical-align: baseline;
  margin: 0 auto;
}

.flex-img {
  width: 100%;
  max-width: 100%;
  border: 0.25em;
  padding: 0.25em;
}

.flex-item {
   margin-right: auto;
   margin-left: auto; 
  margin-top: 1em;
  margin-bottom: 1em;
}

.flex-ul {
  /* border: solid lightseagreen;  */
  display: flex;
  width: 10em;
  justify-content: space-between;
  margin-bottom: 0.5em;  
}

.flex-nav-menu {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;  
  color: white;
  
}


.grid-item {
  background-color: var(--col-accent-1);
  /* margin: 0.25em; */
  /* width: 128px; */
}

.box.grid-item {
  /* padding: 0.625em; */
  font-size: 1.25em;
  background-color: white;
  border: solid;
  margin: 0.625em;
}
.border-left-corner {
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  background-color: var(--col-transparency);
  margin-right: 0;
}

.box-header {
  margin-top: 0.625em;
}

.box-footer {
  background-color: var(--col-accent-1);
  text-align: center;
  color: var(--col-on-accent-1);
}

.price {
  text-align: right;
  font-weight: bold;
  margin-top: 0.625em;
}

[type="text"],
[type="date"],
[type="number"],
button {
  min-height: 1em;
  max-width: 20em;
  min-width: 10em;
  margin-bottom: 0.25em;
  background-color: rgba(255, 255, 255, 0.2);
  color: var(--col-on-accent-1);
  align-content: center;
}

div.flex-container {
  background-color: white;
}

.page_footer {
    display: block;
    height: 5em;
    background-color: var(--col-accent-3);
    text-align: center;
    
}

@media screen and (min-width: 80em) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1em;
  }
  .flex-nav-menu {
    color: var(--col-on-bg);
    text-align: center;
    max-width: 60em;
  }

  .boxes.grid-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .search-bar {
    max-width: 75em;
    align-content: center;
    border-radius: 1em;
    transition: ease-in 1s;
    text-align: center;
  }
  .flex-search {
    display: inline-block;
  }

  .svg {
    margin: auto;
    
  }

  .flex-ul {
    justify-content: space-evenly;
    margin-bottom: 0.5em;
  }

  .flex-item {
    margin: 1em 1em 1em 1em;
    max-width: 1.25em
  }

  .border-left-corner {
    border: solid lightblue;
    margin-right: 0;
    width: 45em;
    height: 75%;
    align-content: center;
  }

  .logo {
    margin-left: 1rem;
    margin-top: 0.5rem;
  }

  h2 {
    text-align: left;
  }

  .auto-margin {
    margin-left: auto;
    margin-right: auto;
    
  }
 
}
