@import url("https://fonts.googleapis.com/css?family=Barlow+Condensed:400,700|Ubuntu+Condensed&display=swap");
/* @import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"); */

/* align (vertical)
justify (horizontal) 
place (vertical and horizontal)

-content (applied to the container, for the template)
-items (applied for the container, for the cells)
-self (applied to an item, for that cell only)

*/

:root {
  --col-bg: #ccc;
  --col-on-bg: #333;
  --col-accent-1: #95ba5e;
  --col-on-accent-1: #eee;
  --col-accent-2: #fb9954;
  --col-on-accent-2: #eee;
  --col-accent-3: #e8f0db;
  --col-on-accent-3: #444;
  --col-transparency: rgba(219, 219, 219, 0.4738270308123249);
  --font-family-1: "Ubuntu Condensed", "Arial", sans-serif;
  --font-family-2: "Barlow Condensed", "Arial", sans-serif;
  --font-size: 1em;
  --font-bigger: 1.5em;
  --gdr-bg-old: rgb(35, 115, 60);
  --gdr-bg-active: linear-gradient(180deg,rgba(35, 115, 60, 0.9416141456582633) 0%,rgba(149, 186, 94, 1) 100%  );
  --gdr-bg2-old: rgb(110, 191, 241);
  --gdr-bg2-active: linear-gradient(
    90deg,
    rgba(110, 191, 241, 1) 0%,
    rgba(126, 221, 157, 1) 100%
  );
  --max-width: 60em;
}

body {
  padding: 0em;
  font-size: 1em;
  line-height: 1.25em;
  font-family: var(--font-family-2);  
}

.auto-margin {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-width);
}

h1,h2,h3,h4,h5,h6,ul,ol,
li {
  font-family: var(--font-family-1);
  font-weight: normal;
  
}

section
h2{
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  margin-left: 0.5em;
}

article {
  background-color: var(--col-accent-3);
  padding: 0.05em;
  /* margin-top: 1em; */
  margin-bottom: 1em;
  overflow: hidden;
}


.button {
  background-color: var(--col-accent-2);
  /* border: solid; */
  color: var(--col-on-accent-2);
  padding: 0.5em 2em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  font-style: bold;
  border-radius: 0.5em;
}

.search-bar {
  background: var(--gdr-bg-old);
  background: var(--gdr-bg-active);
  padding: 1em;
  width: 20em;
  box-sizing: border-box;
  margin: 0.2em auto;
  transition: ease-in-out 1s;
  font-size: var(--font-size);
}


.grid-search {
  display: grid;
  color: var(--col-on-accent-1);
  gap: 0.25em;  
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(7, minmax(1.5em, auto));
  grid-template-areas: 
  "htl htl"
  "lblgng lblgng"
  "fnct fnct"
  "ckin ckou" 
  "dtin dtou"
  "lbrm ."
  "nrmm btn1";
}

.lblgng { grid-area: lblgng; }
.fnct { grid-area: fnct; }
.ckin { grid-area: ckin; }
.ckou { grid-area: ckou; }
.dtin { grid-area: dtin; }
.dtou { grid-area: dtou; }
.lbrm { grid-area: lbrm; }
.btn1 { grid-area: btn1; }
.nrmm { grid-area: nrmm; }



.logo {
  width: 7.5em;
  margin: 0.25em 0.5em 0.5em 0.5em;
  clear: left;
}

.item:first-child {
  margin-top: 0;
}

.svg {
  max-width: 1.7em;
  display: block;
}

.svg-top {
  max-width: 1.2em;
  display: block;
}

.grid-container {
  display: grid;
  grid-template-columns: auto;
  border-style: none;
  vertical-align: baseline;
  margin: 0 auto;
  background-color: var(--col-on-accent-1);
  grid-gap: 0rem;
}

.deals.grid-container {
  grid-template-columns: 1fr 1fr;
}

.boxes.grid-container {
  grid-template-columns: 1fr 1fr;
}

.flex-header-container {
  /* background: var(--gdr-bg2-old);
  background: var(--gdr-bg2-active); */
  display: flex;
  flex-direction: row;
  border-style: none;
  justify-content: space-between;
  vertical-align: baseline;
  margin: 0 auto;
}

.flex-img {
  width: 100%;
  max-width: 100%;
  border: 0.25em;
  padding: 0.25em;
  /* max-height: 100%; */
}

.flex-item {
  margin-right: auto;
  margin-left: auto; 
  margin-top: 1em;
  margin-bottom: 1em;
  
}


.flex-nav-menu {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;  
  color: white;
  
}

.background-round-menu {
  background-color: var(--col-transparency);
  border-bottom-left-radius: 1em;
  height: 3em;
}

.grid-item {
  background-color: var(--col-accent-1);
  margin-left: 0.25rem;
  font-size: var(--font-size);
  /* margin: 0.25em; */
  /* width: 128px; */
}

.box.grid-item {
  font-size: 1em;
  background-color: white;
  margin: 0.625em;
  padding: 0.125em;
  max-width: 15em;
  box-shadow: 2px 5px 15px -5px rgba(0,0,0,0.51);
}

.box-header {
  margin-top: 0.625em;
}

.box-footer {
  background-color: var(--col-accent-1);
  text-align: center;
  color: var(--col-on-accent-1);
}

.price {
  text-align: right;
  font-weight: bold;
  margin-top: 0.625em;
}

[type="text"],
[type="date"],
[type="number"],
button {
  min-width: 6em;  
  margin-bottom: 0.25em;
  background-color: rgba(255, 255, 255, 0.2);
  color: var(--col-on-accent-1);
  align-content: center;
  padding: 0.11em;
  /* color: transparent;  */
}
}

div.flex-container {
  background-color: white;
}

.page-footer {
    /* height: 5.5em; */
    background-color: var(--col-accent-3);
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    justify-content: space-evenly;
    
}
.links-footer { 
 max-width: 2em;
}

.flex-nav-menu.footer {
    width: 300px;
    padding: 0.25em;
}

.flex-nav-menu.footer.icons {
  width: 200px;
  padding: 1em;
}

.menu-name {
  opacity: 1;
  transition: opacity 0.3s;
}

.menu-name-top {
  opacity: 0;
  transition: opacity 0.3s; 
}

.grid-item.box:nth-child(n+3){
  display: none;
}

.pin-map-icon {
  flex-grow: 1;
  background-image: url('../icons/pin.svg');
  background-size: 1em;
  background-repeat: no-repeat;
  background-position: 0.5em center;
  padding-left: 2em;
}

.calendar-icon {
  flex-grow: 1;
  background-image: url('../icons/calendar.svg');
  background-size: 1em;
  background-repeat: no-repeat;
  background-position: 0.5em center;
  padding-left: 2em;
}

.bed-icon {
  flex-grow: 1;
  background-image: url('../icons/bed.svg');
  background-size: 1em;
  background-repeat: no-repeat;
  background-position: 0.5em center;
  padding-left: 2em;
}

.rounded-borders {
  border-radius: 0.5em;
  background-color: white;
  max-height: 2em;
  /* border-top-left-radius: 0.5em; */
}



@media screen and (min-width: 40em) {    /* media-query 40em*/
  .search-bar {
    width:  35em;
  }
 
  .grid-search{
    width: auto;
  }

  .grid-container {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;    
  }
   .boxes.grid-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .grid-item.box:nth-child(n+3){
    display: block;
}
  .grid-item.box:nth-child(n+4){
    display: none;
}

.flex-nav-menu {
  color: var(--col-on-bg);
  text-align: center;
  min-width: 25em;
}

.background-round-menu {
  height: 6em;
}

.menu-name-top {
  opacity: 1;
  transition: opacity 0.3s;
}

.flex-nav-menu .flex-item {
  min-width: 5em; 
  padding: 0.625em;
  transition: background-color 0.3s;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.9em;

}

.flex-nav-menu .flex-item:hover {
  background-color: var(--col-accent-1);
  border-radius: 0.9em;
  color: white;
}

.svg {
  margin-left: auto;
  margin-right: auto;    
}

.flex-item:hover .svg, .flex-item:hover .svg-top  {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(300deg) brightness(101%) contrast(105%);
}

.flex-item:hover .menu-name, .flex-item:hover .menu-name-top{
  color: white;
}

.links-footer:hover {
  filter: invert(40%) sepia(95%) saturate(4917%) hue-rotate(76deg) brightness(92%) contrast(91%);
}

.flex-ul {
  justify-content: space-evenly;
  margin-bottom: 0.5em;
  margin-right: 0;
  width: auto;
  min-width: 20em;
  height: 75%;
  padding-left: 5em;
  padding-left: 5em; 
}

.flex-item {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  vertical-align: middle;
  text-align: center;
}


.logo {
  margin-left: 1rem;
  margin-top: 0.5rem;
}

h2{
  text-align: left;
}

.flex-header-container {
  margin-left: auto;
  margin-right: auto;
}



@media screen and (min-width: 80em) {
  .grid-item.box:nth-child(n+4){
    display: block;
}

  .grid-container {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1em;
  }
  .flex-nav-menu {
    color: var(--col-on-bg);
    text-align: center;
    max-width: 60em;
  }

  .boxes.grid-container {
    grid-template-columns: repeat(4, 1fr);
  }

  .search-bar {
    max-width: 70em;
    width: 100%;
    align-content: center;
    border-radius: 1em;
    transition: ease-in 1s;
    text-align: center;
  }
  .grid-search {
    display: grid;
    color: var(--col-on-accent-1);
    gap: 0.25em; 
    width: 100%;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: repeat(3, minmax(1em, auto));
    grid-template-areas: 
    "htl . . . . ."
    "lblgng lblgng ckin ckou lbrm . "
    "fnct fnct dtin dtou nrmm btn1 "
  }

}

}


